<form>
  <input
    type="text"
    class="form-control"
    placeholder="Nome"
    name="nome"
    [(ngModel)]="formData.nome"
  />
  <input
    type="text"
    class="form-control"
    placeholder="Cognome"
    name="cognome"
    [(ngModel)]="formData.cognome"
  />
  <input
    type="number"
    class="form-control"
    placeholder="età"
    name="età"
    [(ngModel)]="formData.eta"
  />
  <input
    type="email"
    class="form-control"
    placeholder="Email"
    name="email"
    [(ngModel)]="formData.email"
  />
  <input
    type="password"
    class="form-control"
    placeholder="Password"
    name="password"
    [(ngModel)]="formData.password"
  />
  <button (click)="register()" class="btn btn-success">Registrati</button>
</form>
