@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');



html{
    font-family: 'Libre Baskerville', serif;
}


















header {
    text-align: center;
   
}
#logo{
    width: 230px;
}

nav{
    font-weight: bold;
    color: brown;
    
}

.link{
    color: rgb(18, 155, 165);
    text-underline-position: below;
}

main{
    margin-right: 25vw;
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
footer{
    margin-right: 25vw;
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.description{
    text-align: center;
    color: gray;
    font-weight: bold;
    
}
hr{
border-color: darkcyan;
}
header p{
    font-size: small;
    background-color: rgba(221, 211, 120, 0.233);
    color: rgb(11, 121, 93);
    font-weight: bold;
}