

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}
@keyframes dissolve{
    0%{
    transform: translateY(-100px);
    opacity: 0;
    }
    25%{
        opacity: 1;
    transform: translateY(0)
    }
    40%{
        opacity: 1;
        transform: translateY(0);
    }
    75%{
        opacity: 0;
    }
    100%{
        transform: translateY(100px);
        opacity: 0;
    }
}
span{
    text-indent: 10px;
    color: cadetblue;
    position: absolute;
    
}
p{
    position: relative;
}
div{
    border: 3px solid gray;
    padding: 2em;
    border-color: black;
    width: 300px;
    height: 130px;
    margin: 200px;
    position: relative;
}
#sentence1{

    animation: dissolve 18s 0s infinite;
}
#sentence2{

    animation: dissolve 18s 6s infinite;
    
}
#sentence3{

    animation: dissolve 18s 12s infinite;
}