<div class="d-flex">
  <div class="row row-cols-2">
    <div
      class="card col"
      style="width: 18rem"
      *ngFor="let singleProduct of products"
    >
      <img src="{{ singleProduct.images[0] }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ singleProduct.title }}</h5>
        <p class="card-text">{{ singleProduct.description }}</p>
        <button class="btn btn-primary" (click)="addToPref(singleProduct.id)">
          Aggiungi ai preferiti
        </button>
      </div>
    </div>
  </div>
  <div>
    <h1>I tuoi preferiti</h1>
    <ul>
      <li *ngFor="let singlePref of preferiti">{{ singlePref.title }}</li>
    </ul>
  </div>
</div>
