body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
article{
    background-color: #fef7e2;
    padding: 2em;
}
.article-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: fit-content;
}